{% extends "base.html" %}
{% block head %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
                var oTable = $('#datatable').dataTable( {
                        "bProcessing": true,
                        "sAjaxSource": '/get_atuning',
                        "bDeferRender": true,
                        "bJQueryUI": true,
                        "bPaginate": true,
                        "sPaginationType": "full_numbers",
                        "bStateSave": false,
                        "bAutoWidth": false,
                        "iDisplayLength": 50,
                        "sDom": '<"header ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"fr>t<"footer ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ipl>',
                        "aaSorting": [[1,'asc']],
                        "aoColumns":[
                                { "bSearchable": false, "bSortable": false, "sWidth": "15px"},
				{ "sWidth": "60px"},
				{ "sWidth": "80px"},
                                { "bSortable": false},
				{ "bSortable": false},
				{ "sWidth": "80px"}
                        ]
                } );
                new FixedHeader( oTable );
                $("div.header").append('<span id="radio"><a class="removebutton">Remove selected</a></span>');
                 
		$(".removebutton").button().click(function() {
                   	var sData = $('input', oTable.fnGetNodes()).serialize();
                        $.post("/remove_atuning", sData,
                        	function() {oTable.fnReloadAjax('/get_atuning');});
              	});
	}); 
</script>
{% end %}
{% block body %}
	<div id="container">
 		<table width="100%"  cellspacing="0" border="0" id="datatable">
                        <thead>
                                <tr>
					<th></th>
                                        <th>Sid</th>
                                        <th>Type</th>
                                        <th>Syntax</th>
                                        <th>Comment</th>
					<th>Sensor</th>
                                </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
	</div>
{% end %}


