{% extends "base.html" %}
{% block head %}

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		var oTable = $('#dataTable').dataTable( {
                	"bProcessing": true,
                        "sAjaxSource": '/get_rulesets',
                        "bDeferRender": true,
                        "bJQueryUI": true,
                        "bPaginate": true,
                        "sPaginationType": "full_numbers",
                        "bStateSave": false,
                        "bAutoWidth": false,
                        "iDisplayLength": 50,
                        "sDom": '<"header ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"fr>t<"footer ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ipl>',
                        "aaSorting": [[1,'asc']],
			"aoColumns":[
                      		{ "bSearchable": false, "bSortable": false, "sWidth": "15px"},
				null,
				{"sWidth": "100px"},
                      		{"sType":"numeric", "sWidth": "80px"},
				{ "bSearchable": false, "bSortable": false}
			]
		} ).fnSetFilteringDelay(1000);;
		new FixedHeader( oTable );		
                $.get("/getsensorname",function(data) {
                        $("div.header").append('<span id="radio"><input type="radio" id="radio1" name="choice" value="disable" checked="checked"/><label for="radio1">Disable</label><input type="radio" id="radio2" name="choice" value="enable" /><label for="radio2">Enable</label></span><span id="select1">selected ( <span id="options"></span> ), on sensor: </span><span id="select2>&nbsp',data,'&nbsp;<a class="submitbutton">Execute</a></span>');
                        $( "#radio" ).buttonset();

                        $(".submitbutton").button().click(function() {
                                var sData = $('input', oTable.fnGetNodes()).serialize();
                                var sensor = $('[name=select]').val();
                                var action = $('input[name=choice]:checked').val();
                                $.post("/tuning_rulesets", "sensor="+sensor+"&action="+action+"&"+sData,
                                        function() {oTable.fnReloadAjax('/get_rulesets');});
                        });

                        $("#options").append('<a class="selectall">Select All</a>');
                        $(".selectall").button().click(function() {
                                $('input', oTable.fnGetDisplayNodes()).attr('checked','checked');
                        });

                        $("#options").append('<a class="deselectall">Select None</a>');
                        $(".deselectall").button().click(function() {
                                $('input', oTable.fnGetDisplayNodes()).attr('checked',false);
                        });
                });
	});
</script>
{% end %}
{% block body %}
	<div id="container">
		<table width="100%" cellspacing="0" border="0" id="dataTable">
			<thead>
				<tr>
					<th></th>
					<th>Source.Ruleset-name</th>
					<th>Last updated</th>
					<th># of rules</th>
					<th>Status information</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>


{% end %}


